* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}

*img {
  width: 100%;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h6::selection,
h5::selection,
span::selection,
p::selection {
  background-color: #8e51ff;
  color: #fff;
}

/* nav bar  */

.nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  margin-top: 10px;
  z-index: 50;
  /* background-color: aquamarine; */
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: #fff;
  border: 2px solid black;
  position: relative;
    border-radius: 15px;

}

.left-bar {
  font-size: 30px;
  font-weight: 900;
  /* background-color: #155dfc; */
}

.orang-color {
  color: #ff6900;
}
.purpule-color{
  color: #E2BDFF;
}
.main-nav {
    /* background-color: #8e51ff; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.main-nav ul {
  /* list-style: none; */
  display: flex;
  /* gap: 10px; */
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.fa-star{
  color: #D1D5DC;
  margin-inline: 12px;
  font-size:10px ;
}

.main-nav ul li a {
  color: black;
  /* text-decoration: none; */
  font-size: 14px;
  font-weight: 550;

}
.main-nav ul li a:hover {
  color:#FF7A6C;
}

.right-nav {
    width: 13%;
    padding: 10px;
    margin-right: 18px;
    border-radius: 24px;
    border: solid 1.6px black;
    text-align: center;
    background-color: #FFD15B;
    transition-duration:0.16s ;
}

.right-nav a{
    color: black;
    font-size: 14px;
    font-weight: 700;
}
.right-nav:hover{
  transform: translate(3.5px, 3.5px) ;
}

/* mobile ////////// */
.menu-toggle{
    display: none;
    cursor: pointer;
}
.menu-toggle img{
    width: 26px;
}
.mobile-menu{
    display: none;
}


/* section1 */




.section1 {
  background-color: #fff085;
  position: relative;
  /* height: 100dvh; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
}

.section1 .color-header1 {
  background-color: #e5d877;
  width: 128px;
  height: 128px;
  position: absolute;
  left: 75px;
  top: 78px;
  transform: rotate(-70deg);
}

.section1 .color-header2 {
  background-color: #ffdc7d;
  width: 108px;
  height: 108px;
  position: absolute;
  right: 75px;
  top: 178px;
  transform: rotate(-70deg);
}

.section1 .color-header3 {
  background-color: #e9e491;
  width: 118px;
  height: 118px;
  position: absolute;
  left: 475px;
  bottom: 78px;
  transform: rotate(-70deg);
}

.hero {
  /* flex-direction: row; */
  align-items: center;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

.left-hero {
  width: 50%;
  margin-top: 90px;
  /* background-color: aqua; */
}

.TRENDING-NOW {
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 160px;
  padding: 12px;
  transform: rotate(-3deg);
  margin-bottom: 22px;
}

h1 {
  font-size: 72px;
  font-weight: 900;
  text-shadow: 3px 3px 1px black;
  margin-bottom: 24px;
}

.red-color {
  color: #e7000b;
}

.blue-color {
  color: #155dfc;
}

.p-text {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  background-color: white;
  font-weight: 576px;
  padding: 12px;
  border: 1.6px solid black;
  box-shadow: 3px 3px  black;
}

.header-buttons {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}
.btn-wrapper {
  position: relative;
  z-index: 1;
}

.btn-wrapper::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  background-color: black;
  height: 100%;
  z-index: -1;
}

.btn-wrapper .btn:hover {
  transform: translate(4px, 4px);
}
.border-white {
  border: 4px solid black;
}

.btn {
  /* border: 4px solid black; */
  padding: 16px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.img-btn {
  display: flex;
  flex-wrap: wrap;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-white {
  background-color: white;
  /* color: ; */
}

.icon-img {
  width: 30px;
  height: 30px;
}
.icon-img img {
  width: 20px;
  height: 20px;
}

.right-hero {
  width: 50%;
  margin-top: 50px;
  padding: 70px;
  position: relative;
  /* background-image: url(images/hero-img.png); */
}

.right-hero span {
  background-color: #fb2c36;
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 100px;
  margin: auto;
  padding: 14px;
  transform: rotate(12deg);
  margin-bottom: 22px;
  z-index: 5;
  position: absolute;
  right: 28px;
  top: 48px;
  border: 2.2px solid black;
  box-shadow: 4px 4px 0px black;
}

.right-hero img {
  width: 470px;
  display: block;
  height: auto;
  transform: rotate(3deg);
  border: 5px solid black;
  box-shadow: 4px 4px 0px black;
}

.right-hero img:hover {
  transform: translate(4px, 4px);
}









  /* section2 */






.section2 {
  background-color: #F5F5F5;
  padding-top: 30px;
}

.inner{
  display: flex;
  align-items: flex-start;
  /* flex-flow: column wrap; */
  /* flex-wrap: wrap; */
  margin-top: 80px;
  column-gap: 25px;
}

.left-section2{
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 26px;
  /* background-color: #e7000b; */
}

.content-left{
  margin-bottom: 50px;
}


.content-left .head-sec2 {
position: relative;
width: 100%;
display: flex;
  margin-bottom: 36px;
/* background-color: #8e51ff; */
}

.content-left .head-sec2 h3{
font-size: 48px;
font-weight: 900;

}

.content-left .head-sec2 span{
font-size: 16px;
font-weight: 900;
background-color: black;
color: white;
padding: 8px 14px;
box-shadow: 4px 4px 0.41px black;
transform: rotate(2deg);
}


.content-left .head-sec2{
display: flex;
align-items:center ;
justify-content:space-between ;
}

.card-left{
  /* width: 100%; */
  /* background-color: #155dfc; */
  border: 4px solid black;
  box-shadow: 5px 5px 0 black;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  gap: 25px;
  margin-bottom:26px ;

}

.card-left1:hover h4 {
  color: red;
  transform: translate(4px, 4px);
}

.card-left2:hover h4 {
  color: #155DFC;
  transform: translate(4px, 4px);
}

.card-left3:hover h4 {
  color: #B452FB;
  transform: translate(4px, 4px);
}

.card-left:hover {
  transform: translate(4px, 4px);
}

.card-left .img-card{
  position: relative;
  margin-right: 20px;


}

.card-left .img-card span{
  position: absolute;
  top: 0px;
  right: 0;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
    border: 3px solid black;

}

.card-left .img-card1 span{
  background-color: red;
  transform: rotate(5deg) translatey(-50%);

}

.card-left .img-card2 span{
  background-color: #155DFC;
  transform: rotate(-8deg) translatey(-50%);

}

.card-left .img-card3 span{
  background-color: #B452FB;
  transform: rotate(12deg) translatey(-50%);

}

.card-left img{
  width: 200px;
  border: 2px solid black;

}


.content-left button:hover{
    transform: translate(4px, 4px);
    box-shadow: none;

}

.text-card > span{
  font-weight: 600;
  padding: 3px 5px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  margin-bottom: 12px;
}

.text-card1 > span{
  background-color: #FFDF20;
  transform: rotate(2deg)
}

.text-card2 > span{
  background-color: #7BF1A8;
  transform: rotate(-2deg)
}

.text-card3 > span{
  background-color: #FDA5D5;
  transform: rotate(4deg)
}

.text-card h4{
  font-size: 24px;
  font-weight: 700;
  margin-block: 12px;

}

.text-card p{
  font-size: 18px;
  font-weight: 400;
  margin-block: 8px;

}

.text-card .soical-card{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

}


.content-left button{
  font-size: 20px;
  font-weight: 700;
  margin-block: 35px;
  padding: 8px 14px;
  background-color: black;
  color: white;
  box-shadow: 4px 4px black;
  margin: auto;
  width: fit-content;
  /* justify-content: center; */
  /* align-items: center; */
}






/* right */

.right-section2{
    width: 33%;
  position: sticky;
  top: 20px;
  
  row-gap: 24px;
  /* background-color: #8e51ff; */
}

.content-right{
  display: flex;
  /* margin-bottom: 24px; */
  
}

.card-right1 {
  border: 4px solid black;
  box-shadow:  5px 5px black ;
  padding: 26px;
}

.card-right1 h4{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 24px;
}

.card-right1 .right-content{
  display: flex;
  flex-flow: wrap row;
  /* row-gap: 16px; */
  margin-bottom: 24px;
}

.card-right1 .right-content span{
  font-size: 36px;
  font-weight: 900;
  margin-right: 16px;
}

.card-right1 .right-content h5{
  font-size: 18px;
  font-weight: 700;
}

.card-right1 .right-content p{
  font-size: 14px;
  font-weight: 400;
}

.card-right2 {
  margin-top: 26px;
  margin-bottom: 50px;
  padding: 22px;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  display: flex;
  /* flex-direction:row ; */
  flex-flow: column wrap;

}


.card-right2 h4{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 14px;
}

.card-right2 span{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  border: 2px solid black;
  padding: 10px;

  width: 100%;

}

.card-right2 .span-yellow{
  background-color: #FEF9C2;
}

.card-right2 .span-green{
  background-color:#DBFCE7 ;
}

.card-right2 .span-red{
  background-color: #FCE7F3;
}

.card-right2 .span-blue{
  background-color:#DBEAFE ;
}

.card-right2 .span-purple{
  background-color:#F3E8FF ;
}

.card-right2 .span-yellow:hover{
  background-color:#FFDF20 ;
      transform: translate(-4px, -4px);
}

.card-right2 .span-green:hover{
  background-color:#7BF1A8 ;
      transform: translate(-4px, -4px);
}

.card-right2 .span-red:hover{
  background-color:#FDA5D5 ;
      transform: translate(-4px, -4px);
}

.card-right2 .span-blue:hover{
  background-color:#8EC5FF ;
      transform: translate(-4px, -4px);
}

.card-right2 .span-purple:hover{
  background-color:#DAB2FF ;
      transform: translate(-4px, -4px);
}




/* section 3 */


.section3{
  background-color: #FFD230;
  position: relative;
  height: 110dvh;
  overflow: hidden;
  display: flex;
  /* flex-flow: column wrap;
  align-items: center;
  justify-content: center; */
  border: 4px solid black;
  
}


.section3 .color-header1 {
  background-color: #E5BD2B;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 75px;
  top: 78px;
  transform: rotate(-70deg);
}

.section3 .color-header2 {
  background-color: #FFC131;
  width: 108px;
  height: 108px;
  position: absolute;
  left: 75px;
  bottom: 80px;
  transform: rotate(-70deg);
}

.section3 .inner{
  margin-block: 50px;
    position: relative;
    display: flex;
    flex-direction:column ;

}

.title{
  text-align: center;
  margin: auto;
  /* background-color: #155dfc; */
}

.title h3{
 font-size: 48px;
 font-weight: 900;
 margin-bottom: 12px;
}

.title p{
font-size: 20px;
 font-weight: 600;
 color: #525252;
}

.title .line1{
 width: 120px;
  height: 8px;
  background-color: black;
  margin: 30px auto ;
}

.section3 .parent-card{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.section3 .parent-card .card{
  width: 32%;
  text-align: center;
  border: 4px solid black;
  box-shadow: 5px 5px black ;
  padding: 30px;
  position: relative;
  /* display: flex; */

}

.section3 .parent-card .card:hover{
transform: translate(-4px, -4px);
}

.section3 .parent-card .card1:hover h4{
color: #E7000B;
}

.section3 .parent-card .card2:hover h4{
color: #155DFC;
}

.section3 .parent-card .card3:hover h4{
color: #9810FA;
}

.section3 .parent-card .card1{
  background-color: #FEF9C2;
}

.section3 .parent-card .card2{
  background-color: #DBFCE7;
}

.section3 .parent-card .card3{
  background-color: #FCE7F3 ;
}


.section3 .parent-card .card1 .img-card span{
  background-color: red;
  color: white;
  padding: 2px 4px;
  border: 2px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(5deg);
}


.section3 .parent-card .card2 .img-card span{
  background-color:  #155DFC;
  color: white;
  padding: 2px 4px;
  border: 2px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(-5deg);
}


.section3 .parent-card .card3 .img-card span{
  background-color:  #9810FA;
  color: white;
  padding: 2px 4px;
  border: 2px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(12deg);
}

.section3 .parent-card .card .img-card img{
  width: 130px;
  /* margin: auto; */
  border: 4px solid black;

  /* text-align: center; */
}

.section3 .parent-card .card h4{
  font-size: 30px;
  font-weight: 900;
  margin-block:12px ;

}

.section3 .parent-card .card .p1{
  font-size: 16px;
  font-weight: 700;
  margin-block:12px ;
  color: #57625D;

}

.section3 .parent-card .card .p2{
  font-size: 18px;
  font-weight: 400;
  margin-block:12px ;
  color: #57625D;
  line-height: 26px;

}

.section3 .parent-card .card .sociel{
  margin-top: 16px;

}

.section3 .parent-card .card .sociel img{
  width: 45px;
  color: white;
  /* background-color: black; */
  padding: 12PX;
  margin-inline: 5px;
  

}


.color-img{
  background-color: black;
  border: 2px solid black;

}
.twitter:hover{
background-color: #1DA1F2;
box-shadow: 3px 3px black;
transform: translate(-4px, -4px);
}


.linkedin:hover{
background-color: #155DFC;
box-shadow: 3px 3px black;
transform: translate(-4px, -4px);
}

.insta:hover {
background-color: #E60076;
box-shadow: 3px 3px black;
transform: translate(-4px, -4px);
}




/* section4 */

.section4 {
  /* height: 130dvh; */
  background-color: #F5F5F5;
  padding-block: 50px;
}
.inner {
  display: flex;
  column-gap: 30px;
}

.inner .left-card2{
  width: 50%;
}

.inner .left-card2 h4{
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 24px;
  line-height: 30px;
}

.inner .left-card2 p{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-block: 24px;
  padding: 18px;
  border: 2.5px solid black;
  box-shadow: 3px 3px  black;
}


.inner .left-card2 .left-contant{
display: flex;
align-items: center;
margin-block: 35px;


}

.inner .left-card2 .left-contant .img-right1{
  background-color: red;
  border: 2px solid black;
  margin-right: 12px;
  padding: 6px;
}

.inner .left-card2 .left-contant .img-right2{
  background-color: #2B7FFF;
  border: 2px solid black;
  margin-right: 12px;
  padding: 6px;
}

.inner .left-card2 .left-contant .img-right3{
  background-color: #AD46FF;
  border: 2px solid black;
  margin-right: 12px;
  padding: 6px;
}

.inner .left-card2 .left-contant .img-right4{
  background-color: #00C951;
  border: 2px solid black;
  margin-right: 12px;
  padding: 6px;
}

.inner .left-card2 .left-contant img{
width: 28px;

}

.inner .left-card2 .left-contant span{
  font-size: 18px;
  font-weight: 600;


}

.inner .btn2{
  background-color: black;
  color: white;
  padding: 20px 40px;
  margin-top: 26px;
    font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px black;
}

.inner .btn2 img{
  width: 35px;
}


.inner .btn2:hover{
  transform: translate(4px, 4px);
    box-shadow: none;

}


/* right */


.right-card2{
  background-color: white;
  width: 50%;
  padding: 40px;
  border: 4px solid black;

}

.section4 .right-card2 .card-right5{
  border: 2px solid black;
  padding: 12px 18px;
}

.section4 .right-card2 .card-right5 p{
  font-size: 18px;
  font-weight: 600;
  /* line-height: 30px; */
  padding-bottom:20px ;
  /* padding: 12px 18px; */
}

.section4 .right-card2 .card-right5{
  border: 2px solid black;
  padding: 12px 18px;
}

.title-right-card {
  margin-bottom: 30px;
    font-size: 30px;
  font-weight: 600;
}


.right-card2 .card-right5 .img-card-right {
  display: flex;
}

.right-card2 .card-right5 .img-card-right .img-content{
  margin-inline: 12px;

}

.right-card2 .card-right5 .img-card-right .img-content h6{
  font-size: 18px;
  font-weight: 600;

}

.right-card2 .card-right5 .img-card-right .img-content p{
  font-size: 14px;
  font-weight: 400;
  color: #5C5B5B;

}

.right-card2 .card-right5 .img-card-right img{
  width: 40px;
  border: 2px solid black;
  margin: 0px 6px 6px 6px ;

}

.section4 .right-card2 .card-right1{
  background-color: #FEF2F2;
}

.section4 .right-card2 .card-right2{
  background-color: #EFF6FF;
}

.section4 .right-card2 .card-right3{
  background-color: #FAF5FF;
  box-shadow: 4px 4px black;
}







.site-footer {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 80px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-section {
    padding: 0 20px;
}

.logo-description {
    flex-basis: 40%; 
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}
.logo img{
  background-color: white;
  width: 50px;
  margin: 12px;
}

.logo-description p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.categories {
    flex-basis: 20%;
}

.categories h3, .newsletter h3 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #ffffff;
}

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories li {
  font-size: 18px;
  font-weight: 500;
    margin-bottom: 8px;
}

.categories li:hover{
  color: #F7C311;
}
.categories a {
    color: white; 
    text-decoration: none;
    font-size:18px;
    transition: color 0.2s;
}

.categories a:hover {
    color: #ffcc00; 
}

.newsletter {
    flex-basis: 30%;
}

.newsletter p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
}

.newsletter input[type="email"] {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff; 
    padding: 15px 10px;
    margin-bottom: 15px;
    font-size: 1em;
    outline: none;
    text-transform: uppercase;
}

.newsletter button {
    background-color: #ffcc00; 
    color: black;
    border: none;
    padding: 15px 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
}

.newsletter button:hover {
    background-color: #ffd733; 
    transform: translate(4px, 4px);

}

.footer-separator {
    border: none;
    border-top: 1px solid #333333; 
    margin: 40px 0 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-bottom .copyright {
    color: #aaaaaa;
}

.footer-bottom .legal-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
    transition: color 0.2s;
}

.footer-bottom .legal-links a:hover {
    color: #ffd733;
}

